$blue: #337ab7;

@import url(http://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: "BebasNeue";
  src: url('../font/BebasNeue.otf') format('opentype');
  src: local('BebasNeue');
}

@font-face {
  font-family: "SignPainter";
  src: url('../font/SignPainter.otf') format('opentype');
  src: local('SignPainter');
}

.fancyButtonBlack {
  font-family: BebasNeue;
  font-size: 2em;
  color: black !important;

  border: black 4px solid !important;

  transition: color ease-in-out 0.2s;

  &::before {
    background: black !important;
  }
}


.fancyButton {
  font-family: BebasNeue;
  font-size: 2em;
  color: white !important;

  border: white 4px solid !important;

  transition: color ease-in-out 0.2s;

  &::before {
    background: white !important;
  }
}

.margin-left-xs{
  @media screen and (max-width: 991px){
    margin-left: 30rem;
  }
  @media screen and (max-width: 771px){
    margin-left: 20rem;
  }
  @media screen and (max-width: 551px){
    margin-left: 10rem;
  }
  @media screen and (max-width: 450px){
    margin-left: 5rem;
  }
}

.noUnderline:hover {
  text-decoration: none;
}

.roboto {
  font-family: roboto;
  font-size: 2rem;
}

body {

  .page {
    overflow: hidden;
  }
  /*/////////////HEADER\\\\\\\\\\\\\\\*/

  header {
    font-family: "BebasNeue";
    text-transform: uppercase;
    font-size: 1.3em;

    nav {
      background-color: white !important;
      border-color: white !important;
      background-color: white;
      height: 75px;
      img {
        vertical-align: middle;
        margin-left: 5rem;
      }

      .navbar-toggle {
        border: none;
        background: transparent;
        margin-top: 2rem;
        span {
          background: black !important;
          transition: all ease-in-out 0.2s;
        }

        span:nth-child(2) {
          transform: translateY(-140px);
        }

        span:nth-child(3) {
          transform: rotate(45deg) translateX(-3px);
        }
        span:nth-child(4) {
          transform: rotate(-45deg) translateY(-7px) translateX(3px);
        }

        &.collapsed {
          background: transparent;
          span:nth-child(2) {
            transform: translateY(0px);
          }

          span:nth-child(3) {
            transform: rotate(0deg) translateX(0px);
          }
          span:nth-child(4) {
            transform: rotate(0deg) translateY(0px) translateX(0px);
          }
        }
        &:hover {
          background: transparent !important;
        }
        &:focus {
          background: transparent !important;
        }
      }

      .navbar-collapse {
        @media screen and (max-width: 764px) {
          margin-top: 1.5rem;
          background-color: white;
          border-color: white !important;
        }
      }

      .navbar-right {

        margin-top: 1.5rem;

        li {

          text-align: center;
          margin-right: 5rem;

          @media screen and (max-width: 1040px) {
            margin-right: 1.5rem;
          }
          @media screen and (max-width: 764px) {
            margin-right: 0;
            margin-top: 2rem;
          }

          &:last-child {
            margin-left: 12em;
            @media screen and (max-width: 1040px) {
              margin-left: 2rem;
            }
            @media screen and (max-width: 764px) {
              margin-left: 0rem;
              margin-top: 2rem;
            }
          }

          &:nth-child(3) {
            margin-right: 0;
          }

          a {
            color: black !important;
          }

          button {

            color: white;
            margin-top: 0.4rem;
            font-size: 1em;
            border: none;
            border-radius: 0;
            padding-left: 4rem;
            padding-right: 4rem;
            background-color: $blue;
            transition: all ease-in-out 0.2s;
            &:hover {
              color: white;
              background-color: darken($blue, 10);
            }
          }
        }
      }
    }
  }

  /*/////////////HOME \\\\\\\\\\\\\\\*/

  #home {
    background: url("../img/cd-background-1.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      padding-top: 20rem;
      width: 18%;
      min-width: 200px;
    }
  }

  /*////////////REASEARCHBIGPICTURE \\\\\\\\\\\\\\\\*/

  #researchBigPicture {
    background: url("../img/TRAJETS.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    img.imageSearch {
      padding-top: 20rem;
      min-width: 100px;
      @media screen and (max-width: 991px) {
        max-width: 200px;
      }
    }

    .resultcontent{
      padding-top: 5rem;
    }

    .trajet {
      padding: 1rem;
      div {
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        background: white !important ;
        border: 3px solid black;
        transition : all ease-in-out 0.3s;

        &:hover{
          background-color: rgba(255,255,255, 0.7) !important;
        }
      }
    }

  }

  /*////////////REASEARCH \\\\\\\\\\\\\\\\*/

  #research {
    background: white;
    font-family: BebasNeue;

    padding: 10rem 0 12rem 0;

    h1 {
      span {
        color: black;
        padding: 1rem 3rem 0.5rem 3rem;
        border: solid black 4px;
      }
      padding-bottom: 4rem;
    }

    select.form-control {
      color: black;
      margin-top: 6rem;
      width: 100%;
      outline: none;
      border-bottom: solid 5px black;
      font-family: BebasNeue !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: transparent;
      text-align: center !important;
      font-size: 26px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;
      height:40px;
      border-bottom: solid 5px;


    }
  }

  /*////////////RESUME\\\\\\\\\\\\\\\\*/
  #resume {
    background: white;

    padding: 10rem 0 10rem 0;
    .alinea {
      margin-left: 5rem;
    }

    .strong {
      font-weight: 700;
    }

    button{
      margin-top : 8rem;
      padding: 1rem 3rem;
      &:hover {
        color: white !important;
      }
    }
  }

  /*/////////VIDEO\\\\\\\\\\*/
  #video {
    video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url("../img/videoImg.png") no-repeat;
      background-size: cover;
    }

    img {
      width: 30%;
      min-width: 300px;
      padding-top: 25rem;

      @media screen and (max-width: 991px ){
        padding-top: 15rem;
      }

    }

    button{
      margin-top : 8rem;
      padding: 1rem 3rem;
      &:hover {
        color: #525252 !important;
      }
    }
  }

  /*/////////DECOUVRIR\\\\\\\\\\*/
  #decouvrir {
    height: 700px;
    background-image: url('../img/Offre-ATMB.png');
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;

    img {
      height: 100px;
      width: auto;
      &#rouge {
        position: relative;
        -webkit-animation: redCar 10s infinite ease-in;
        animation: redCar 10s infinite ease-in;
      }
      &#bleue {

        position: relative;
        -webkit-animation: blueCar 10s infinite ease-out;
        animation: blueCar 10s infinite ease-out;
      }

      &#offre{
        position: absolute;
        height: 300px;

        @media screen and (max-width: 991px){
          height: 200px;
        }

      }
    }

    button {
      margin-top: 350px;
      padding: 1rem 3rem;
      &:hover {
        color: #b2e2f9 !important;
      }
    }
  }

  /*/////////APP\\\\\\\\\\*/
  #app {
    padding: 15rem 0rem;
    background: url('../img/BUCHECROISE.png') bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    h3{
      font-family: SignPainter;
      font-size: 6rem;
      color: white !important;
      position: relative;
      transform:   skewY(-15deg) translate(-50px, -100px) ;
    }
    #appView{
      @media screen and (max-width: 551px) {
        margin-left: -20rem;
      }
    }

    a {

      margin-top: 2rem;
      display: block;

      button {
        border: white solid 2px;
        padding: 1rem 3rem;

        border-radius: 10px;

        color: white !important;

        background: transparent !important;
        img {
          margin-top: 0.5rem;
          max-width: 36px;
        }
      }
    }
  }

  /*/////////LEPROJET\\\\\\\\\\*/
  #projet {
    background: url("../img/LEPROJET.jpg") center top !important;
    height: 700px;
    background: white;
    button {
      transform: translateY(320px);
      padding: 1rem 3rem;
      &:hover {
        color: #3a3a3a !important;
      }
    }
  }

  /*/////////FOOTER\\\\\\\\\\*/
  #footer {
    background: white;
    #links {

      padding: 5rem 0;

      background: #292c2f;
      div {
        @media screen and (max-width: 991px) {
          margin-top: 3rem;
          p {
            margin-top: 5rem;
            width: 100%;
          }
        }
      }

      p {
        color: #999999;
        width: 70%;
      }

      .test{
        width: 70%;

        @media screen and (max-width: 991px) {
          width: 100%;
        }
        div{

          margin-top: 2rem;

          i{
            &#facebook{
              transition: color 0.2s ease-in;
              &:hover{
                color: #3b5998;
              }
            }

            &#youtube{
              transition: color 0.2s ease-in;
              margin-right: 3rem;
              margin-left: 3rem;

              &:hover{
                color: #e52d27;
              }
            }
            font-size: 3rem;
            @media screen and (max-width: 991px) {
              font-size: 5rem;
            }
          }

        }

      }

      a {
        font-family: BebasNeue;
        font-size: 1.5em;
        color: #999999;
        transition: color 0.2s ease-out;

        &:hover {
          text-decoration: none;
          color: darken(#999999, 20);
        }
      }

    }
    #partenaires {

      padding-bottom: 4rem;

      h3 {
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
      img {
        max-height: 75px;
        @media screen and (max-height: 991px) {
          margin-top: 8rem;
        }
      }
    }
  }

  /*/////////PICTOS\\\\\\\\\\*/
  #pictos {
    background: white;
    padding: 10rem 0 10rem 0;

    img {
      width: 50%;

      @media screen and (max-width: 991px) {
        margin-top: 10rem;
        width: 20%
      }
    }
  }

  /*/////////MODAL\\\\\\\\\*/
  .modal{
    .modal-header{
      border-bottom: solid 0px !important;
    }

    .modal-footer{
      border-top: solid 0px !important;
    }

    .modal-content{
      border: solid 5px !important;
      font-family: BebasNeue;

      .big-icon{
        margin-top: 4rem;
        font-size: 2em;
      }
      .commentaires{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        height: 300px;
        overflow: scroll;
        overflow-x: hidden;

        h6{
          font-weight: 700;
        }
        div.commentaire{
          border-bottom: black solid 3px;
        }
        @media screen and (max-width: 991px){
          height: 200px;
        }
      }

    }
  }
}

@keyframes blueCar {
  0% {
    left: -200px;
  }
  100% {
    left: 2000px;
  }
}

@-webkit-keyframes blueCar {
  0% {
    left: -200px;
  }
  100% {
    left: 2000px;
  }
}

@keyframes redCar {
  0% {
    right: -100px;
  }
  100% {
    right: 2000px;
  }
}

@-webkit-keyframes redCar {
  0% {
    right: -100px;
  }
  100% {
    right: 2000px;
  }
}

.cclink {
  color: black !important;
}

.cclink:hover {
  text-decoration: none;
  color:grey;
}

.combtn {
  color: white !important;
  font-size:50px;
}

.combtn:hover {
  color: gray !important;
}