$blue: #337ab7;

@font-face {
  font-family: "BebasNeue";
  src: url('../font/BebasNeue.otf') format('opentype');
  src: local('BebasNeue');
}

body {

  .page {
    overflow: hidden;
  }
  /*/////////////HEADER\\\\\\\\\\\\\\\*/

  header {
    font-family: "BebasNeue";
    text-transform: uppercase;
    font-size: 1.3em;

    nav {
      background-color: white !important;
      border-color: white !important;
      background-color: white;
      height: 75px;
      img {
        vertical-align: middle;
        margin-left: 5rem;
      }

      .navbar-toggle {
        border: none;
        background: transparent;
        margin-top: 2rem;
        span {
          background: black !important;
          transition: all ease-in-out 0.2s;
        }

        span:nth-child(2) {
          transform: translateY(-140px);
        }

        span:nth-child(3) {
          transform: rotate(45deg) translateX(-3px);
        }
        span:nth-child(4) {
          transform: rotate(-45deg) translateY(-7px) translateX(3px);
        }

        &.collapsed {
          background: transparent;
          span:nth-child(2) {
            transform: translateY(0px);
          }

          span:nth-child(3) {
            transform: rotate(0deg) translateX(0px);
          }
          span:nth-child(4) {
            transform: rotate(0deg) translateY(0px) translateX(0px);
          }
        }
        &:hover {
          background: transparent !important;
        }
        &:focus {
          background: transparent !important;
        }
      }

      .navbar-collapse {
        @media screen and (max-width: 764px) {
          margin-top: 1.5rem;
          background-color: white;
          border-color: white !important;
        }
      }

      .navbar-right {

        margin-top: 1.5rem;

        li {

          text-align: center;
          margin-right: 5rem;

          @media screen and (max-width: 1040px) {
            margin-right: 2rem;
          }
          @media screen and (max-width: 764px) {
            margin-right: 0;
            margin-top: 2rem;
          }

          &:last-child {
            margin-left: 12em;
            @media screen and (max-width: 1040px) {
              margin-left: 4rem;
            }
            @media screen and (max-width: 764px) {
              margin-left: 0rem;
              margin-top: 2rem;
            }
          }

          &:nth-child(3) {
            margin-right: 0;
          }

          a {
            color: black !important;
          }

          button {

            color: white;
            margin-top: 0.4rem;
            font-size: 1em;
            border: none;
            border-radius: 0;
            padding-left: 4rem;
            padding-right: 4rem;
            background-color: $blue;
            transition: all ease-in-out 0.2s;
            &:hover {
              color: white;
              background-color: darken($blue, 10);
            }
          }
        }
      }
    }
  }

  /*/////////////HOME \\\\\\\\\\\\\\\*/

  #home {
    background: url("../img/cd-background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    img {
      padding-top: 20rem;
      width: 18%;
      min-width: 300px;
    }
  }

  /*////////////REASEARCHBIGPICTURE \\\\\\\\\\\\\\\\*/

  #researchBigPicture {
    background: url("../img/TRAJETS.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    img {
      padding-top: 20rem;
      min-width: 300px;
    }
  }

  /*////////////REASEARCH \\\\\\\\\\\\\\\\*/

  #research {
    background: white;
    font-family: BebasNeue;

    padding: 4rem 0 6rem 0;

    h1 {
      span {
        color: black;
        padding: 1rem 3rem 0.5rem 3rem;
        border: solid black 4px;
      }
      padding-bottom: 4rem;
    }

    select.form-control {
      color: black;
      margin-top: 30px;
      width: 100%;
      outline: none;
      height: 40px;
      border-bottom: solid 5px black;
      font-family: "bebas" !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: transparent;
      text-align: center !important;
      font-size: 26px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      height: 34px;
      -webkit-appearance: none;
      border-bottom: solid 5px;
    }
  }

  /*////////////RESUME\\\\\\\\\\\\\\\\*/
  #resume {
    background: white;

    padding: 10rem 0 10rem 0;
    .alinea {
      margin-left: 5rem;
    }

    .strong {
      font-weight: 700;
    }
  }

  /*/////////VIDEO\\\\\\\\\\*/
  #video {
    video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url(polina.jpg) no-repeat;
      background-size: cover;
    }

    img {
      width: 30%;
      min-width: 300px;
      padding-top: 25rem;
      min-width: 300px;
    }
  }

  /*/////////DECOUVRIR\\\\\\\\\\*/
  #decouvrir {
    height: 700px;
    background-image: url('../img/Offre-ATMB.png');
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;

    img {
      height: 100px;
      width: auto;
      &#rouge {
        position: relative;
        -webkit-animation: redCar 10s infinite ease-in;
        animation: redCar 10s infinite ease-in;
      }
      &#bleue {

        position: relative;
        -webkit-animation: blueCar 10s infinite ease-out;
        animation: blueCar 10s infinite ease-out;
      }
    }

    button {
      margin-top: 350px;
      font-family: BebasNeue;
      font-size: 2em;
      padding: 1rem 3rem;
      color: white!important;

      border: white 4px solid !important;

      transition: color ease-in-out 0.2s;

      &:hover{
        color: #b2e2f9!important;
      }

      &::before{
        background: white!important;
      }
    }
  }

  /*/////////APP\\\\\\\\\\*/
  #app {
    background: white;
  }

  /*/////////LEPROJET\\\\\\\\\\*/
  #projet {
    background: white;
  }

  /*/////////FOOTER\\\\\\\\\\*/
  #footer {
    background: white;
    #partenaires {

      h3 {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }
      img {
        max-width: 150px;
      }
    }
  }

  /*/////////PICTOS\\\\\\\\\\*/
  #pictos {
    background: white;
    padding: 10rem 0 10rem 0;

    img {
      width: 50%;

      @media screen and (max-width: 991px) {
        margin-top: 10rem;
        width: 20%
      }
    }
  }
}

@keyframes blueCar {
  0%   {left: -200px;}
  100%   {left: 2000px;}
}
@-webkit-keyframes blueCar {
  0%   {left: -200px;}
  100%   {left: 2000px;}
}

@keyframes redCar {
  0%   {right: -100px;}
  100%   {right: 2000px;}
}
@-webkit-keyframes redCar {
  0%   {right: -100px;}
  100%   {right: 2000px;}
}