@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: "BebasNeue";
  src: url("../font/BebasNeue.otf") format("opentype");
  src: local("BebasNeue"); }
@font-face {
  font-family: "SignPainter";
  src: url("../font/SignPainter.otf") format("opentype");
  src: local("SignPainter"); }
.fancyButtonBlack {
  font-family: BebasNeue;
  font-size: 2em;
  color: black !important;
  border: black 4px solid !important;
  transition: color ease-in-out 0.2s; }
  .fancyButtonBlack::before {
    background: black !important; }

.fancyButton {
  font-family: BebasNeue;
  font-size: 2em;
  color: white !important;
  border: white 4px solid !important;
  transition: color ease-in-out 0.2s; }
  .fancyButton::before {
    background: white !important; }

@media screen and (max-width: 991px) {
  .margin-left-xs {
    margin-left: 30rem; } }
@media screen and (max-width: 771px) {
  .margin-left-xs {
    margin-left: 20rem; } }
@media screen and (max-width: 551px) {
  .margin-left-xs {
    margin-left: 10rem; } }
@media screen and (max-width: 450px) {
  .margin-left-xs {
    margin-left: 5rem; } }

.noUnderline:hover {
  text-decoration: none; }

.roboto {
  font-family: roboto;
  font-size: 2rem; }

body {
  /*/////////////HEADER\\\\\\\\*/
  /*/////////////HOME \\\\\\\\*/
  /*////////////REASEARCHBIGPICTURE \\\\\\\\*/
  /*////////////REASEARCH \\\\\\\\*/
  /*////////////RESUME\\\\\\\\*/
  /*/////////VIDEO\\\\\*/
  /*/////////DECOUVRIR\\\\\*/
  /*/////////APP\\\\\*/
  /*/////////LEPROJET\\\\\*/
  /*/////////FOOTER\\\\\*/
  /*/////////PICTOS\\\\\*/
  /*/////////MODAL\\\\\*/ }
  body .page {
    overflow: hidden; }
  body header {
    font-family: "BebasNeue";
    text-transform: uppercase;
    font-size: 1.3em; }
    body header nav {
      background-color: white !important;
      border-color: white !important;
      background-color: white;
      height: 75px; }
      body header nav img {
        vertical-align: middle;
        margin-left: 5rem; }
      body header nav .navbar-toggle {
        border: none;
        background: transparent;
        margin-top: 2rem; }
        body header nav .navbar-toggle span {
          background: black !important;
          transition: all ease-in-out 0.2s; }
        body header nav .navbar-toggle span:nth-child(2) {
          transform: translateY(-140px); }
        body header nav .navbar-toggle span:nth-child(3) {
          transform: rotate(45deg) translateX(-3px); }
        body header nav .navbar-toggle span:nth-child(4) {
          transform: rotate(-45deg) translateY(-7px) translateX(3px); }
        body header nav .navbar-toggle.collapsed {
          background: transparent; }
          body header nav .navbar-toggle.collapsed span:nth-child(2) {
            transform: translateY(0px); }
          body header nav .navbar-toggle.collapsed span:nth-child(3) {
            transform: rotate(0deg) translateX(0px); }
          body header nav .navbar-toggle.collapsed span:nth-child(4) {
            transform: rotate(0deg) translateY(0px) translateX(0px); }
        body header nav .navbar-toggle:hover {
          background: transparent !important; }
        body header nav .navbar-toggle:focus {
          background: transparent !important; }
      @media screen and (max-width: 764px) {
        body header nav .navbar-collapse {
          margin-top: 1.5rem;
          background-color: white;
          border-color: white !important; } }
      body header nav .navbar-right {
        margin-top: 1.5rem; }
        body header nav .navbar-right li {
          text-align: center;
          margin-right: 5rem; }
          @media screen and (max-width: 1040px) {
            body header nav .navbar-right li {
              margin-right: 1.5rem; } }
          @media screen and (max-width: 764px) {
            body header nav .navbar-right li {
              margin-right: 0;
              margin-top: 2rem; } }
          body header nav .navbar-right li:last-child {
            margin-left: 12em; }
            @media screen and (max-width: 1040px) {
              body header nav .navbar-right li:last-child {
                margin-left: 2rem; } }
            @media screen and (max-width: 764px) {
              body header nav .navbar-right li:last-child {
                margin-left: 0rem;
                margin-top: 2rem; } }
          body header nav .navbar-right li:nth-child(3) {
            margin-right: 0; }
          body header nav .navbar-right li a {
            color: black !important; }
          body header nav .navbar-right li button {
            color: white;
            margin-top: 0.4rem;
            font-size: 1em;
            border: none;
            border-radius: 0;
            padding-left: 4rem;
            padding-right: 4rem;
            background-color: #337ab7;
            transition: all ease-in-out 0.2s; }
            body header nav .navbar-right li button:hover {
              color: white;
              background-color: #285f8f; }
  body #home {
    background: url("../img/cd-background-1.jpg") center;
    background-repeat: no-repeat;
    background-size: cover; }
    body #home img {
      padding-top: 20rem;
      width: 18%;
      min-width: 200px; }
  body #researchBigPicture {
    background: url("../img/TRAJETS.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    body #researchBigPicture img.imageSearch {
      padding-top: 20rem;
      min-width: 100px; }
      @media screen and (max-width: 991px) {
        body #researchBigPicture img.imageSearch {
          max-width: 200px; } }
    body #researchBigPicture .resultcontent {
      padding-top: 5rem; }
    body #researchBigPicture .trajet {
      padding: 1rem; }
      body #researchBigPicture .trajet div {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: white !important;
        border: 3px solid black;
        transition: all ease-in-out 0.3s; }
        body #researchBigPicture .trajet div:hover {
          background-color: rgba(255, 255, 255, 0.7) !important; }
  body #research {
    background: white;
    font-family: BebasNeue;
    padding: 10rem 0 12rem 0; }
    body #research h1 {
      padding-bottom: 4rem; }
      body #research h1 span {
        color: black;
        padding: 1rem 3rem 0.5rem 3rem;
        border: solid black 4px; }
    body #research select.form-control {
      color: black;
      margin-top: 6rem;
      width: 100%;
      outline: none;
      border-bottom: solid 5px black;
      font-family: BebasNeue !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: transparent;
      text-align: center !important;
      font-size: 26px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;
      height: 40px;
      border-bottom: solid 5px; }
  body #resume {
    background: white;
    padding: 10rem 0 10rem 0; }
    body #resume .alinea {
      margin-left: 5rem; }
    body #resume .strong {
      font-weight: 700; }
    body #resume button {
      margin-top: 8rem;
      padding: 1rem 3rem; }
      body #resume button:hover {
        color: white !important; }
  body #video video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/videoImg.png") no-repeat;
    background-size: cover; }
  body #video img {
    width: 30%;
    min-width: 300px;
    padding-top: 25rem; }
    @media screen and (max-width: 991px) {
      body #video img {
        padding-top: 15rem; } }
  body #video button {
    margin-top: 8rem;
    padding: 1rem 3rem; }
    body #video button:hover {
      color: #525252 !important; }
  body #decouvrir {
    height: 700px;
    background-image: url("../img/Offre-ATMB.png");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat; }
    body #decouvrir img {
      height: 100px;
      width: auto; }
      body #decouvrir img#rouge {
        position: relative;
        -webkit-animation: redCar 10s infinite ease-in;
        animation: redCar 10s infinite ease-in; }
      body #decouvrir img#bleue {
        position: relative;
        -webkit-animation: blueCar 10s infinite ease-out;
        animation: blueCar 10s infinite ease-out; }
      body #decouvrir img#offre {
        position: absolute;
        height: 300px; }
        @media screen and (max-width: 991px) {
          body #decouvrir img#offre {
            height: 200px; } }
    body #decouvrir button {
      margin-top: 350px;
      padding: 1rem 3rem; }
      body #decouvrir button:hover {
        color: #b2e2f9 !important; }
  body #app {
    padding: 15rem 0rem;
    background: url("../img/BUCHECROISE.png") bottom left;
    background-repeat: no-repeat;
    background-size: cover; }
    body #app h3 {
      font-family: SignPainter;
      font-size: 6rem;
      color: white !important;
      position: relative;
      transform: skewY(-15deg) translate(-50px, -100px); }
    @media screen and (max-width: 551px) {
      body #app #appView {
        margin-left: -20rem; } }
    body #app a {
      margin-top: 2rem;
      display: block; }
      body #app a button {
        border: white solid 2px;
        padding: 1rem 3rem;
        border-radius: 10px;
        color: white !important;
        background: transparent !important; }
        body #app a button img {
          margin-top: 0.5rem;
          max-width: 36px; }
  body #projet {
    background: url("../img/LEPROJET.jpg") center top !important;
    height: 700px;
    background: white; }
    body #projet button {
      transform: translateY(320px);
      padding: 1rem 3rem; }
      body #projet button:hover {
        color: #3a3a3a !important; }
  body #footer {
    background: white; }
    body #footer #links {
      padding: 5rem 0;
      background: #292c2f; }
      @media screen and (max-width: 991px) {
        body #footer #links div {
          margin-top: 3rem; }
          body #footer #links div p {
            margin-top: 5rem;
            width: 100%; } }
      body #footer #links p {
        color: #999999;
        width: 70%; }
      body #footer #links .test {
        width: 70%; }
        @media screen and (max-width: 991px) {
          body #footer #links .test {
            width: 100%; } }
        body #footer #links .test div {
          margin-top: 2rem; }
          body #footer #links .test div i {
            font-size: 3rem; }
            body #footer #links .test div i#facebook {
              transition: color 0.2s ease-in; }
              body #footer #links .test div i#facebook:hover {
                color: #3b5998; }
            body #footer #links .test div i#youtube {
              transition: color 0.2s ease-in;
              margin-right: 3rem;
              margin-left: 3rem; }
              body #footer #links .test div i#youtube:hover {
                color: #e52d27; }
            @media screen and (max-width: 991px) {
              body #footer #links .test div i {
                font-size: 5rem; } }
      body #footer #links a {
        font-family: BebasNeue;
        font-size: 1.5em;
        color: #999999;
        transition: color 0.2s ease-out; }
        body #footer #links a:hover {
          text-decoration: none;
          color: #666666; }
    body #footer #partenaires {
      padding-bottom: 4rem; }
      body #footer #partenaires h3 {
        margin-top: 4rem;
        margin-bottom: 2rem; }
      body #footer #partenaires img {
        max-height: 75px; }
        @media screen and (max-height: 991px) {
          body #footer #partenaires img {
            margin-top: 8rem; } }
  body #pictos {
    background: white;
    padding: 10rem 0 10rem 0; }
    body #pictos img {
      width: 50%; }
      @media screen and (max-width: 991px) {
        body #pictos img {
          margin-top: 10rem;
          width: 20%; } }
  body .modal .modal-header {
    border-bottom: solid 0px !important; }
  body .modal .modal-footer {
    border-top: solid 0px !important; }
  body .modal .modal-content {
    border: solid 5px !important;
    font-family: BebasNeue; }
    body .modal .modal-content .big-icon {
      margin-top: 4rem;
      font-size: 2em; }
    body .modal .modal-content .commentaires {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 300px;
      overflow: scroll;
      overflow-x: hidden; }
      body .modal .modal-content .commentaires h6 {
        font-weight: 700; }
      body .modal .modal-content .commentaires div.commentaire {
        border-bottom: black solid 3px; }
      @media screen and (max-width: 991px) {
        body .modal .modal-content .commentaires {
          height: 200px; } }

@keyframes blueCar {
  0% {
    left: -200px; }
  100% {
    left: 2000px; } }
@-webkit-keyframes blueCar {
  0% {
    left: -200px; }
  100% {
    left: 2000px; } }
@keyframes redCar {
  0% {
    right: -100px; }
  100% {
    right: 2000px; } }
@-webkit-keyframes redCar {
  0% {
    right: -100px; }
  100% {
    right: 2000px; } }
.cclink {
  color: black !important; }

.cclink:hover {
  text-decoration: none;
  color: grey; }

.combtn {
  color: white !important;
  font-size: 50px; }

.combtn:hover {
  color: gray !important; }

/*# sourceMappingURL=style.css.map */
